body {
    display: grid;
    place-items: center;
    height: 100vh;
    font-family: sans-serif;
    font-size: 16px;
    margin: 0;
    line-height: 1.75;
}

.blog-container {
    max-width: 800px;
    width: 100%;
    padding: 20px;
}

h1 {
    text-align: center;
    padding: 24px;
    font-size: 2.5em;
    font-weight: bold;
    margin-top: 0.3em;
    margin-bottom: 0.25em;
}

p.description {
    font-size: 1.5em;
    margin: 0;
}

p.date {
    font-size: 1.0em;
    color: #ece6e6;
    margin-bottom: 1.5em;
    font-style: italic;
}

a {
    color: inherit;
}
a:hover {
    opacity: 0.7;
}

.home-link {
    position: fixed;
    top: 14px;
    left: 10px;
    font-size: 28px;
    padding: 5px 10px;  
    text-decoration: none;

}

#published {
    opacity: 0.7;
}

/* Heading anchors */
.anchor::before {
    content: "§";
    display: none;
    position: absolute;
    width: 1em;
    margin-left: -1em;
    text-decoration: none;
    font-weight: normal;
}
:hover > .anchor::before {
    display: block;
}

/* Code blocks */
code.scode {
    padding: 3px 5px;
    white-space: nowrap;
}
pre.scode {
    padding: 16px;
    overflow-x: scroll;
}
.scode {
    border-radius: 6px;
    font-size: 0.9em;
    tab-size: 4;
}

/* Back to top arrow */
.back {
    margin-top: 3em;
}

body { background-color: #1D1F21; }
body { color: #C5C8C6; }
body { background-color: #1D1F21; }
body { color: #C5C8C6; }
body { background-color: #1D1F21; }
body { color: #C5C8C6; }
body { background-color: #1D1F21; }
body { color: #C5C8C6; }
body { background-color: #1D1F21; }
body { color: #C5C8C6; }
body { background-color: #1D1F21; }
body { color: #C5C8C6; }
body { background-color: #1D1F21; }
body { color: #C5C8C6; }
body { background-color: #1D1F21; }
body { color: #C5C8C6; }
body { background-color: #1D1F21; }
body { color: #C5C8C6; }
body { background-color: #1D1F21; }
body { color: #C5C8C6; }
body { background-color: #1D1F21; }
body { color: #C5C8C6; }
body { background-color: #1D1F21; }
body { color: #C5C8C6; }
body { background-color: #1D1F21; }
body { color: #C5C8C6; }
body { background-color: #1D1F21; }
body { color: #C5C8C6; }
body { background-color: #1D1F21; }
body { color: #C5C8C6; }
body { background-color: #1D1F21; }
body { color: #C5C8C6; }
body { background-color: #1D1F21; }
body { color: #C5C8C6; }
body { background-color: #1D1F21; }
body { color: #C5C8C6; }
