* {
	box-sizing: border-box; 
}

body {
    place-items: center;
    height: 100vh;
    font-family: sans-serif;
    font-size: 16px;
    margin: 0;
    line-height: 1.75;
}

.blog-container {
    max-width: 80ch;
	margin: 48px auto 0 auto;
	padding: 0 16px;
    list-style-type: disc;
    overflow: hidden;
}

/* h1 {
    text-align: center;
    padding: 24px;
    font-size: 2.5em;
    font-weight: bold;
    margin-top: 0.2em;
    margin-bottom: 0.25em;
} */

h2 {
	margin-top: 1.2em;
}

header {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

a {
    color: inherit;
}
a:hover {
    opacity: 0.7;
}

.home-link {
    position: absolute;
    top: 14px;
    left: 8px;
    font-size: 30px;
    font-family: sans-serif;
    padding: 5px 10px;  
    text-decoration: none;

}

#published {
    opacity: 0.7;
}



/* Heading anchors */
.anchor::before {
    content: "§";
    display: none;
    position: absolute;
    width: 1em;
    margin-left: -1em;
    text-decoration: none;
    font-weight: normal;
}
:hover > .anchor::before {
    display: block;
}

/* Code blocks */
code.scode {
    padding: 3px 5px;
    white-space: nowrap;
}
pre.scode {
    padding: 16px;
    overflow-x: scroll;
}
.scode {
    border-radius: 6px;
    font-size: 0.9em;
    tab-size: 4;
}

/* .outline {
    position: absolute;
    top: 70px;
    left: 530px;
    margin-top: 0.9em;
} */

/* Back to top arrow */
.back {
    margin-top: 3em;
}


footer {
    
    text-align: center;           /* Center align the text */
    padding: 10px 0;              /* Top and bottom padding */
    width: 100%;                  /* Full width */
    font-size: 0.9em;             /* Slightly smaller text */
}



/* Rust*/
.srust .scomment { color: #5C6370; } /* Color for comments */
.srust .sstring { color: #74e2a2; }  /* Color for strings */
.srust .sstorage { color: #e06c75; } /* Color for storage types */
.srust .smeta { color: hsl(338, 66%, 67%); }      /* Color for meta data like function declaration */
.srust .svariable { color: #e5c07b; }/* Color for variables */
.srust .skeyword { color: hsl(248, 40%, 66%); }  /* Color for keywords */
.srust .ssupport { color: #56b6c2; } /* Color for support methods and macros */
.srust .spunctuation { color: #abb2bf; } /* Color for punctuation like*/

/* Shell scripting */
.sshell .scomment { color: #5C6370; }
.sshell .sstring { color: #74e2a2; }
.sshell .ssupport { color: #56b6c2; }
.sshell .sfunction { color: #e06c75; }
.sshell .svariable { color: #e5c07b; }

/* JavaScript */
.sjs .scomment { color: #5C6370; }
.sjs .sstring { color: #74e2a2; }
.sjs .sstorage { color: #e06c75; }
.sjs .smeta { color: hsl(338, 66%, 67%); }
.sjs .svariable { color: #e5c07b; }
.sjs .skeyword { color: hsl(248, 40%, 66%); }
.sjs .ssupport { color: #56b6c2; }
.sjs .spunctuation { color: #abb2bf; }
.sjs .sfunction { color: #61aeee; }

