<!DOCTYPE html>
<html>
<head>
    <title>Posts</title>
</head>
<body>
    <h1>Posts</h1>
    <div class="post">
        <h2>{{title}}</h2>
        <div class="content">
            {{{contents}}}
        </div>
    </div>
</body>
</html>
