<!DOCTYPE html>
<html>
    <head>

        <meta name="color-scheme" content="dark light">
  
        <style>

            body {
                display: grid;
                place-items: center;
                height: 100vh;
                font-family: sans-serif;
                font-size: 16px;
                margin: 0;
                line-height: 1.75;
            }

            .blog-container {
                max-width: 800px;
                width: 100%;
                padding: 20px;
            }

            h1 {
                text-align: center;
                padding: 24px;
                font-size: 2.5em;
                font-weight: bold;
                margin-top: 0.3em;
                margin-bottom: 0.25em;
            }

            p.description {
                font-size: 1.5em;
                margin: 0;
            }

            p.date {
                font-size: 1.0em;
                color: #ece6e6;
                margin-bottom: 1.5em;
                font-style: italic;
            }

            a {
                color: inherit;
            }
            a:hover {
                opacity: 0.7;
            }

            .home-link {
                position: fixed;
                top: 14px;
                left: 10px;
                font-size: 28px;
                padding: 5px 10px;  
                text-decoration: none;
            
            }

        </style>

    </head>
    <body>
         <a href="/index.html" class="home-link">Kirima</a>
        <h1>{{post_title}}</h1>
        <p class="description">{{post_description}}</p>
        <p class="date">{{post_date}}</p>
        <div class="blog-container">
            {{{post_content}}}
        </div>
    </body>
</html>